[user]
  name = Morgan Christiansson
  email = git@mog.se
[push]
	default = current
[alias]
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
[core]
	excludesfile = /Users/mchrist/.gitignore
